<html lang="ja" >
  <head>
    <meta charaset="utf-8">
    <title> <%= @title%> </title>
  </head>
  <body>
    <h1> Hello, <%=@studet_name%>    </h1>
    <h2>Your Grade is below.</h2>
    <table border>
    <tr>
        <th>id</th>
        <th>student_id</th>
        <th>klass</th>
        <th>grade</th>
      </tr>
      <%   @students.each do |stu| %>
      <tr>
        <td><%= stu.id %></td>
        <td><%= stu.student_id %></td>
        <td><%= stu.klass %></td>
        <td><%= stu.grade %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
